<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="top-bar">
            <h1>
                <span class="a">E</span>
                <span class="b">A</span>
                <span class="c">T</span>&nbsp;&nbsp;
                <span class="d">D</span>
                <span class="e">A</span>&nbsp;&nbsp;
                <span class="f">B</span>
                <span class="a">U</span>
                <span class="b">R</span>
                <span class="c">G</span>
                <span class="d">E</span>
                <span class="e">R</span>
                </h1>
        </div>
        <div class="row">
            <div class="col-lg-12" id="inputBurger">
                <form method="POST" action="/burgers/create">
                    <button id="addBurger" type="submit" class="addBurgerButton">Add The Burger</button>
                    <input type="text" id="name" name="burger_name" placeholder="Place your new groovy burger order here">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" class="task" id="undevouredBurgers">
            <h2> Far Out Burgers Ready:</h2>
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-lg-9">
                    <pre id="burgersToEat">
                    {{this.id}}. {{this.burger_name}}
                </pre>
                </div>
                <div class="col-sm-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input id="burgerNames" type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <br>
                        <button id="devourButton" type="submit" class="btn btn-default">Finish It!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-6" id="placeHolderBurger" class="task">
            <h2>Bummer, Man! Taken Burgers:</h2>
            {{#each burger_data}}
            {{#if this.devoured}}
            <div class="row">
                {{this.id}}. {{this.burger_name}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>